{% extends 'base.html' %}
{% load static %}
{% block bg %}
<body style="background-image:url({% static 'images/vehicle2.jpg' %}); background-repeat: no-repeat;
background-size: 100% 120%">{% endblock bg %}

{% block content %}

<h1 style="color:brown; font-size: 50px ;" align="center"> Welcome To Vehicle-Insurance </h1>
<div>
    <div class="row" style="padding-left:20px">
        <div class="col-5" style="font-size: large;">
            <form style="font-size:25px;color:white;" action="" method = "POST">
                {% csrf_token %}
                <table>
                {% for i in forms %}
                    <tr><td>{{i.label_tag}}<br><br></td><td>{{i}}</td></tr>
                {% endfor %}
                    </table>
                <input type ="submit" value="submit" class="btn btn-danger">  <a href="{% url 'user_logout' %}" class="btn btn-warning" >Logout</a>  <a href="{% url 'back'%}" class="btn btn-success">Back</a>
            </form>
        </div>
         <div style = "color: brown; font-size:30px;" class="col-5">
            <b>{{data}}</b>
        </div>
    </div>
</div>

{% endblock %}